html,body {height:100%;background-image:url(/assets/img/groovepaper.png);}
.content-wrap {min-height:100%;height:auto !important;height:100%;margin: 0 auto -60px;}
.footer-container {padding-top:20px;}
.footer-pusher,.footer {height:59px;}
.footer {background-color:#444;}

@media (max-width: 979px) {
  .channel-second{height:100% !important;}
}
@media (max-width: 1199px) {
  html, body{margin:0 !important;padding:0 !important;}
  .container{width:100%!important;}
  .channel-previews li{width:50%;}
}
@media (max-width: 767px){
  .sp1{width:100% !important;}
  .sp2{width:100% !important;}
  .channel-previews li{width:100%;}
  .loading-border{
    width: 100% !important;
    height: 100% !important;
    position: static !important;
    margin: 0 !important;
  }
}
@media (max-width: 500px){
}

.navbar-inner{
  border-radius: 0!important;
}

.navbar{
  margin:0;
  padding:0;
}
.channel-second{
  overflow:hidden;
  width:100%;
  height:600px;
}
.youtube-player > object{
  width:100%;
  height:380px;
  margin:0;
  padding:0;
  margin-bottom:-5px;
}
.playlist{
  height:200px;
}
.playlist > .playlist-table {
  overflow: auto;
  display:block;
  height:100%;
}
.channel-chat{
  height:100%;
}
.channel-chat ul{
  height:520px;
  overflow:auto;
}
.sp2{
  width:50%;
  float:left;
  height:100%;
}
.form-append .controls {
  margin-left:70px;
}
.form-append .control-label {
  width:60px;
}
.form-append {
  margin:0;
  padding:10px;
}
.form-append .controls input {
  margin-right:-81px; /* urgh, how ugly.. */
}