/* === Channel-Previews === */
.channel-previews li{
  width:33%;
  height:350px;
  float:left;
  margin:15px 0;
}
.channel-previews .preview{
  height:100%;
  width:320px;
  background-color:#fff;
  margin: auto;
  -webkit-box-shadow: 0 0 10px -5px #000;
     -moz-box-shadow: 0 0 10px -5px #000;
          box-shadow: 0 0 10px -5px #000;
}
.preview .caption-wrapper{
  position:relative;
  overflow:hidden;
}
.preview img{
  height: 180px;
  width: 320px;
}
.preview .caption-wrapper .play-overlay, .preview .caption-wrapper img{
  -webkit-transition: all 250ms ease;
     -moz-transition: all 250ms ease;
      -ms-transition: all 250ms ease;
       -o-transition: all 250ms ease;
          transition: all 250ms ease;
}
.preview .play-overlay {
  position: absolute;
  bottom: 0;
  width:100%;
  text-align: center;
  line-height: 180px;
  background: #000;
  opacity: 0;
}
.preview .caption-wrapper:hover .play-overlay{
  opacity:0.8;
}
.preview .caption-wrapper:hover img{
  -webkit-transform : scale(1.1);
     -moz-transform : scale(1.1);
      -ms-transform : scale(1.1);
       -o-transform : scale(1.1);
          transform : scale(1.1);
}
.info-bar {
  background-color: #eee;
  text-align:center;
  margin:0;
  height:20px;
}
.preview h3 {
  background-color:#f6f6f6;
  text-align:center;
}
._tt {
  padding:0 3px;
  -webkit-border-radius:2px;
          border-radius:2px;
  -webkit-transition: background 200ms ease;
     -moz-transition: background 200ms ease;
      -ms-transition: background 200ms ease;
       -o-transition: background 200ms ease;
          transition: background 200ms ease;
}
._tt:hover{
  background-color:#BBB;
}
.preview .description {
  margin:0 5px;
  color:#666;
}

/* === Login-Dropdown === */
.login-dropdown {
  padding:15px;
  padding-bottom:0;
}

/* === Channel-Cover === */
.channel-cover{
  margin:0 !important;
  padding:0 !important;
  height:420px;
  width:100%;
  color:#fff;
  box-shadow: inset 0 -2px 6px 0 rgba(0, 0, 0, 0.2), inset 0 40px 46px -10px rgba(0, 0, 0, 0.7);
}
.channel-cover-text{
  background:rgba(0, 0, 0, 0.8);
  min-height:130px;
  max-height:100%;
}
.channel-cover h1{
  float:left;
  color:#fff;
  margin:0 10px 0 10px;
  font:bold 110px 'PT Sans Narrow', sans-serif;
  text-shadow: 0 3px 3px #000;
  letter-spacing:-2px;
}
.channel-cover p{
  padding-top:30px;
  margin:0 10px 0 10px;
  text-shadow:0 1px 0px #000;
  font:19px 'PT Sans Narrow', sans-serif;
}



/* === Channel-Objects === */
.channel-chat li{
  margin:0 0 1px;
  padding:3px;
  border-top: 1px solid #444;
}
.channel-chat li p{
  margin:0;
  font:1.2em;
}
.channel-user{
  font:bold 19px 'PT Sans Narrow', sans-serif;
  text-shadow:0 1px 0px #000;
  padding-bottom:32000px;
  margin-bottom:-32000px;
}
.channel-user li{
  padding: 3px;
  margin-bottom:1px;
  background:rgba(255,255,255,0.1);
}
h3{margin:0}
.table tbody tr.playc > td {
  background-color: #ccc;
}
.youtube-player > #replace-player {
  height: 380px;
  background:#ccc;
  padding-top:12px;
  padding-left:12px;
  color: #222;
}
.youtube-player > #replace-player * {
  margin:0;
  color: #222;
}
.form-append {
  background-color:#f6f6f6;
  -webkit-transition: all 250ms ease;
     -moz-transition: all 250ms ease;
      -ms-transition: all 250ms ease;
       -o-transition: all 250ms ease;
          transition: all 250ms ease;
}
.form_append_hide {
  display:none;
}