.img-wrap{
  height:100%;
  width:100%;
  overflow:hidden;
  position:relative;
  padding: -60px 0;
}
.img-wrap img{
  display:block;
  margin: 0 auto;
}
.img-overlay{
  background-color:#060606;
  color: #fff;
  bottom:-100%;
  position: absolute;
  opacity: .8;
  filter: alpha(opacity = .8);
  width:100%;
  z-index:1000;
  -webkit-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
  -webkit-transition: all 250ms ease;
     -moz-transition: all 250ms ease;
      -ms-transition: all 250ms ease;
       -o-transition: all 250ms ease;
          transition: all 250ms ease;
}
.img-overlay p{
  padding:0 10px;
}
.txt-wrap{
  padding:4px 4px 0;
  position:relative;
}
.txt-wrap .muted{
  color:#555;
}
.txt-wrap p{
  height:80px;
}
.channel-thumb:hover .img-overlay{
  bottom:0;
}
.channel-thumb {
  display: block;
  padding: 0;
  border: 1px solid #222;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.channel-thumb h4 {
  margin:0;
}
.channel-cover{
  position:relative;
  top:0;
  left:0;
  margin:0 !important;
  padding:0 !important;
  background-image: url(/assets/img/2.png);
  background-repeat: no-repeat;
  height:380px;
  width:100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.channel-cover-text{
  background:rgba(0, 0, 0, 0.8);
  min-height:130px;
}
.channel-cover h1{
  float:left;
  color:#fff;
  margin:0 10px 0 10px;
  font:bold 110px 'PT Sans Narrow', sans-serif;
  text-shadow: 0 3px 3px #000;
  letter-spacing:-2px;
}
.channel-cover p{
  padding-top:30px;
  margin:0 10px 0 10px;
  text-shadow:0 1px 0px #000;
  font:19px 'PT Sans Narrow', sans-serif;
}

.channel-chat li{
  margin:0 0 1px;
  padding:3px;
  border-top: 1px solid #444;
}
.channel-chat li p{
  margin:0;
  font:1.2em;
}
.channel-user{
  font:bold 19px 'PT Sans Narrow', sans-serif;
  text-shadow:0 1px 0px #000;
  background:#111;
  padding-bottom:32000px;
  margin-bottom:-32000px;
}
.channel-user li{
  padding: 3px;
  margin-bottom:1px;
  background:rgba(255,255,255,0.1);
}
h3{margin:0}
.table tbody tr.playc > td {
  background-color: #ccc;
}